<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h1>Hello , <%= user %></h1>
    <div class="container"></div>
    <a href="/add-category">Add category</a>
    <a href="/add-products">Add products</a>
    <a href="/api/users/logout">logout</a>
  </body>
</html>